.insta-wrapper {
	width: 700px;
	float: left;
}

.insta_body_wrap {
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
	background: rgba(255, 255, 255, 0.5);
	display: block;

	@media @desktop-xl {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.insta {
	margin: 0px auto;
	width: 640px;
	overflow: hidden;
}

.insta_out {
	width: 740px;
	margin: 5px auto;
}

.insta_logo a:hover {
	text-decoration: underline;
}

.insta_photo_box {
	float: left;
	width: 300px;
	margin: 10px;
}

.insta_feed {
	width: 100%;
	display: block;
}

.insta_cap {
	background: rgba(255, 255, 255, 0.9);
	padding: 10px;
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	color: #111;
}






