.extra-wrapper {
	margin: 0px auto;
}

.extra_body_wrap {
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
	background: url(img/left_diagonal.png) white;
	display: block;
	border-top: 1px solid black;
	padding: 30px 0;

	@media @desktop-xl {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.extra_body_inner {
	@media @desktop-2-2 {
		width: 1025px;
		margin: 0 auto;
		display: block;
		overflow: hidden;
	}

	@media @desktop-2-1 {
		width: 900px;
		margin: 0 auto;
		display: block;
		overflow: hidden;
	}
}

.testa_wrap {
	width: 440px;
	float: left;
	display: block;
	overflow: hidden;

	@media @desktop-1 {
		width: 100%;
	}

	@media @tablet {
		width: 100%;
	}

	@media @mobile {
		width: 100%;
	}
}

.testa {
	margin: 0px auto;
}

.testa_box {
	width: 400px;
	height: 370px;
	margin: 2% auto;
	border: 1px solid #666;
	background: rgba(255, 255, 255, 0.5);
	display: block;

	@media @desktop-1 {
		width: 80%;
		height: 260px;
	}

	@media @tablet {
		width: 80%;
		margin: 2% 10% 0;
		display: block;
	}

	@media @mobile-1 {
		height: 300px;
	}

	@media @mobile {
		width: 96%;
		height: 400px;
	} 
}

.doug_text {
	font-size: 13px !important;
	line-height: 18px !important;
}

.testa_head {
	float: left;
	font-size: 100px;
	margin: 20px 20px 0 20px;
}

.testa_head img {
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

.testa_box p {
	padding: 4% 4% 10px 4%;
	margin: 0;
	color: #222;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	text-indent: 25px;
	font-family: "Droid Sans", serif;
	letter-spacing: 0.05em;
}

.testa_box h3 {
	color: #333;
	font-size: 16px;
	text-align: right;
	font-weight: bold;
	margin: 0 30px 0 0;
	letter-spacing: .05em;
	padding: 0;

}

.testa_small {
	font-size: 13px;
	font-weight: 400;
	color: #777;
}

.testa_links {
	width: 100%;
	display: block;
	overflow: hidden;
}

.testa_links h4 {
	test-align: left;
	color: #eee;
	font-size: 36px;
	font-family: "Droid Sans", sans-serif;
	display: block;
	margin: 25px 0 0 5%;
	font-weight: 700;
	text-shadow: 1px 1px 1px #333;
}

.testa_links p {
	text-align: left;
	color: #ddd;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	margin: 5px 0 0 5%;
}

.testa_links a {
	color: #ddd;
	text-decoration: none;
}

.testa_links a:hover {
	color: #fff;
	text-decoration: underline;
}

.icon-arrow-right {
	margin: 0 10px 0 0;
}



